{% extends "template.html"%}
{% load staticfiles %}

{% block content %}


<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <a href="http://github.com/hsamfm/booksara">
                این برنامه شدیداً در حال توسعه است. اینجا را ببینید
            </a>
        </div>
    </div>
</div>


{% if message %}
<div class="bs-callout bs-callout-info">
    <h5>{{ message|safe }}</h5>
</div>
{% endif %}


<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">بوکسرا</h3>
            </div>
            <div class="panel-body">

                <p>
                    بوکسرا یک فروشگاه استارت آپی برای خرید پ فروش کتاب های دست دو و نو.این پروژه نه برای اهداف شوم و نه
                    برای کلاه برداری !! بلکه حسام از ساختنش هدفش این بوده که مردم رو بیشتر به کتاب خوندن تشویق کنه‌ .
                </p>
                <p>
                    برای باز کردن اکانت
                    <a href="{% url 'register' %}">به صفحه رجیستر شدن برین</a>
                    و برای اطلاعات بیشتر مراجعه بکنین به
                    <a href="http://github.com/hsamfm/booksara/">
                        گیت هاب پروژه.
                    </a>
                </p>
            </div>
            <p>

            </p>
        </div>


        <br/><br/>


    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        ماجرا چیه؟
                    </h3>
                </div>
                <p>
                    این سیستم فقط برای کسب تجربه از بازار اینترنتی و رواج دادن فرهنگ کتاب خوانی است این فروشگاه از هر
                    نوع کتابی که بخوای هست و مهم ترین چیز تو این پروژه این بود که اگه کسی کتابی می خواد بفروشه به کسی
                    دیگه برای جفتشون صرف داشته باشه در ضمن برای هک کردن تلاش نکنید چون چیز خاصی نداره پس الکی تلاش نکن‌‌
                    !

                </p>
                <p>
                    در حال حاضر برای استفاده از این سیستم باید قدم‌های زیر رو پیش برین:

                <ul>
                    <li> از صفحه رجیستریشن که این بغل و اون بالاست، ثبت نام کنین و توکن دریافت کنین</li>
                    <li> از یکی از کلاینت‌ها برای اتصال استفاده کنین. فعلا تنها کلاینت ما <a
                            href="https://github.com/hsamfm/booksara/booksara/clients/curl/">کلاینت‌های کامند
                        لاینی هستن که با کرل کار می کنن و لازمه کدی که دریافت کردین رو توی فایل کانفیگشون وارد کنین</a>.
                        منطقاً در آینده کلاینت تحت وب و اپ و غیره هم خواهیم داشت.
                    <li> کتاب ها رو وارد سیستم کنین و منتظر باشین که هی سیستم کامل‌تر بشه</li>
                </ul>

            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block footer %}

<script>
    $(document).ready(function () {
        $(".subtaskinput").fadeOut(0);
        $('.fa-square-o').hover(function () {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function () {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

    });

    function showsubtaskinput(elementid) {
        if ($('.btn-' + elementid).text() == '+') {
            $('.subtask-' + elementid).fadeIn(250);
            $('.subtask-' + elementid).focus();
            $('.btn-' + elementid).text('-');
        } else {
            $('.subtask-' + elementid).fadeOut(250);
            $('.btn-' + elementid).text('+');
        }
        // دگمه رو عوض کنیم به منفی و اگر منفی رو زد المنت رو حذف کنیم
        return 0;
    }
</script>

<script type="text/javascript">
    $(".alert").fadeTo(10000, 500).slideUp(500, function () {
        $(".alert").slideUp(10000);
    });
</script>
{% endblock %}
